.contact-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid orange;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-weight: bold;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px;
    background: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #e68900;
}
.heading{
    text-align: center;
    color: black;
    font-size: 40px;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #ff9800;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
}
.footer-content{
    text-align: center;
    margin-top: 200px;
    padding-top: 10px;
    font-size: 14px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    background-color: black;
    height: 70px;
}
.socials{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 40px;
    color: #ffffff;

}
.li-content{
    
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
}
.li-content:hover{
    color: #ff9800;
    transform: scale(1.1);
}
.socials:hover{
    color: #ff9800;
    transform: scale(1.1);
}
.footer-content:hover{
    color: #ff9800;
}